<div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center">
    <div>
        <p class="decorate2">Regional Settings</p>
        <hr>
    </div>
    <div fxLayout="column" fxLayoutGap="5px">
        <mat-label class="decorate"><mat-icon>translate</mat-icon> Language</mat-label>
        <mat-form-field appearance="fill" style="width:300px;">
            <select matNativeControl>
                <option *ngFor="let lan of lang" [value]="lan.code">{{lan.name}} - {{lan.nativeName}}</option>
            </select>
        </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutGap="5px">
        <mat-label class="decorate"><mat-icon>language</mat-icon> Country/Regional</mat-label>
        <mat-label style="font-size:10px">Selecting the country you’re in will give you local deals and <br>information.</mat-label>
        <mat-form-field appearance="fill" style="width:300px;">
            <select matNativeControl>
                <option *ngFor="let country of countries" [value]="country.code">{{country.name}}</option>
            </select>
        </mat-form-field>
    </div>
        <div fxLayout="column" fxLayoutGap="5px">
        <mat-label class="decorate"><mat-icon>monetization_on</mat-icon> Currency</mat-label>
        <mat-form-field appearance="fill" style="width:300px;">
            <select matNativeControl>
                <option *ngFor="let currency of currencies" [value]="currency.code">{{currency.name}} - {{currency.symbol_native}}</option>
            </select>
        </mat-form-field>
    </div>
    <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
        <button mat-stroked-button color="warn" style="width:250px">Save</button>
        <button mat-stroked-button style="width:300px">Cancel</button>
    </div>
</div>