<br>
<div fxLayout="row" fxLayout.xs="row" fxLayoutGap="5px" fxLayoutWrap>
  <button mat-flat-button color="warn" *ngFor = "let btn of button">
    <mat-icon>{{btn.icon}}</mat-icon> {{btn.text}} 
  </button>
</div>


<div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutGap = "20px" fxLayoutWrap fxLayoutAlign="center">
    <div class="mainImg">  
    </div>
    <p class = "decorate">Plan your perfect trip</p>
    <p>Search Flights, Hotels & Car Hire to our most popular destinations</p>

  <div class="container" fxLayout="column" fxLayoutGap="20px" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
    <div class="container" fxLayout="row" fxLayoutGap="8px" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
      <div fxFlex="22%"  class="board" *ngFor="let image1 of images1">
        <img mat-card-image class="img" src={{image1.image}}>
        <p class="decorate"> {{image1.name}} </p>
        <p>{{image1.desc}}</p>
          <div fxLayout="row" fxLayoutGap = "5px" fxLayout.xs="row" fxLayoutWrap>
          <button mat-icon-button color="warn" *ngFor = "let btn of button"><a href="#"> {{btn.text}} </a></button>
        </div>
      </div>
    </div>
    <div class="container" fxLayout="row" fxLayoutGap="8px" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
      <div fxFlex="22%" class="board" *ngFor="let image2 of images2">
        <img mat-card-image class="img" src={{image2.image}}>
        <p class="decorate"> {{image2.name}} </p>
        <p>{{image2.desc}}</p>
        <div fxLayout="row" fxLayoutGap = "5px" fxLayout.xs="row">
          <button mat-icon-button color="warn" *ngFor = "let btn of button"><a href = "#"> {{btn.text}} </a></button>
        </div>
      </div>
    </div>
  </div>
</div>







  <!--<div fxLayout="column" fxLayout.xs="column" fxLayoutGap = "8px" fxLayoutWrap fxLayoutAlign="center">
      <div class="container" fxLayout="row" fxLayoutGap = "8px" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
      <div fxFlex="22%" class = board>
          <img mat-card-image class="img" [src]="nepalImg">
          <p class = "decorate"> Kathmandu </p>
          <div fxLayout="row" fxLayout.xs="row" fxLayoutWrap>
              <a href = "#"><button mat-icon-button color = "warn">Flights </button></a>
              <a href = "#"><button mat-icon-button color = "warn">Hotels </button></a>
              <a href = "#"><button mat-icon-button color = "warn">CarHire </button></a>
          </div>
      </div>
      <div fxFlex="22%">
          <img mat-card-image class="img" [src]="nepalImg">
      </div> 
      <div fxFlex="22%">
          <img mat-card-image class="img" [src]="singImg">
      </div>
      <div fxFlex="22%">
          <img mat-card-image class="img" [src]="sanImg">
      </div>
      </div>

      <div class="container" fxLayout="row" fxLayoutGap = "8px" fxLayout.xs="column" fxLayoutWrap fxLayoutAlign="center">
      <div fxFlex="22%">
          <img mat-card-image class="img" [src]="lonImg">
      </div>
      <div fxFlex="22%">
          <img mat-card-image class="img" [src]="canImg">
      </div>
      <div fxFlex="22%">
          <img mat-card-image class="img" [src]="newImg">
      </div>
      <div fxFlex="22%">
          <img mat-card-image class="img" [src]="ausImg">
      </div>
      </div>
  </div>-->