.img {
  width: 100%;
  margin-bottom: 2%;
  height: 200px;
}

button {
  margin-left: 5px;
}

a {
  text-decoration: none;
  color: #f44336;
}

.card-picture {
  width: 23%;
  margin-bottom: 2%;
}

p {
  text-align: center;
}

.mainImg {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/56/Xiamen_Night_Beach.jpg');
  width: 100%;
  height: 680px;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
}

.board {
  background-color: rgb(242, 231, 248);
}

.decorate {
  font-family: Verdana;
  font-size: 20px;
}

.decorate1 {
  font-family: Verdana;
  font-size: 45px;
  color: #ffffff;
  margin-top: 70px;
  margin-bottom: 60px;
}

main {
  width: 60%;
  max-width: 60%;
}

mat-radio-button {
  margin-right: 1em;
}
