
<div class="mask rgba-gradient d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row mt-5 flex-center text-center">
            <label style="font-family:verdana;font-size:25px"><strong>Be inspired</strong><br><label style="font-size:15px">See the whole world at a glance with our flight price map</label></label>
            <agm-map [zoom]="zoom" [zoomControl]="false" [scrollwheel]="false" style="width:100%; height:500px ">
            <agm-marker *ngFor="let map of maps" [latitude]="map.lat" [longitude]="map.lng" [label]="map.label"></agm-marker>
        </agm-map>
        </div>
    </div>
</div>


<div class="container mt-5">
    <label style="font-family:verdana;font-size:25px"><strong>Plan your perfect trip</strong><br><label style="font-size:15px">Search Flights, Hotels & Car Hire to our most popular destinations</label></label>
    <div class="row">
        <div class="col-md-12 mb-4">
            <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Others/img%20%2832%29.jpg')">
                <div class="text-white text-center flex-center align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h1 class="py-3 font-weight-bold pink-text">
                        <strong>Nepal</strong>
                        </h1>
                        <p class="pb-3">Nepal is a tremendously attractive location for mountaineers, rock climbers and adventure seekers.It is being an attractive destination for adventure.
                        </p>
                        <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="plane" class="left"></mdb-icon> Flights</a>
                        <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="hotel" class="left"></mdb-icon> Hotels</a>
                        <!--<a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="car" class="left"></mdb-icon> Car-Hire</a>-->
                    </div>
                </div>
            </mdb-card>
        </div>

        <div class="col-md-6 mb-4">
            <mdb-card style="background-image: url('https://drscdn.500px.org/photo/308649733/q%3D80_m%3D1000/v2?webp=true&sig=b9c17be0cc02fd816cbf97de7342139d1b7a085717cde5afe0aca90bc044ced1')">
                <div class="text-white text-center flex-center align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h1 class="py-3 font-weight-bold pink-text">
                        <strong>Tokyo</strong>
                        </h1>
                        <p class="pb-3">There’s no better place to admire a historic icon of the capital. The station has been looking particularly spiffy after an extensive restoration a few years back. A major spot for many travellers passing in and out of the city.
                        </p>
                        <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="plane" class="left"></mdb-icon> Flights</a>
                        <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="hotel" class="left"></mdb-icon> Hotels</a>
                       <!--<a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="car" class="left"></mdb-icon> Car-Hire</a>-->
                    </div>
                </div>
            </mdb-card>
        </div>

        <div class="col-md-6 mb-4">
            <mdb-card style="background-image: url('https://drscdn.500px.org/photo/76042243/m%3D900/v2?sig=fcd205d826d355fea312e02cc7af5f48b1a5d173c016efd6979b4cb95504e0d5')">
                <div class="text-white text-center flex-center align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h1 class="py-3 font-weight-bold pink-text">
                        <strong>San-Francisco</strong>
                        </h1>
                        <p class="pb-3">San Francisco is home to a little bit of everything. Whether you are a first time visitor or a long- time local,<br> San Francisco Golden Gates welcome all.
                        </p>
                        <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="plane" class="left"></mdb-icon> Flights</a>
                        <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="hotel" class="left"></mdb-icon> Hotels</a>
                        <!--<a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="car" class="left"></mdb-icon> Car-Hire</a>-->
                    </div>
                </div>
            </mdb-card>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            <mdb-card style="background-image: url('https://secure.i.telegraph.co.uk/multimedia/archive/02423/london_2423609b.jpg')">
                <div class="text-white text-center flex-center align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h1 class="py-3 font-weight-bold pink-text">
                        <strong>London</strong>
                        </h1>
                        <p class="pb-3">Its little wonder London, England is one of the worlds top tourist destinations, attracting upward of 20 million visitors each year from around the world. Britains capital city is a vibrant arts and entertainment center.
                        </p>
                        <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="plane" class="left"></mdb-icon> Flights</a>
                        <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="hotel" class="left"></mdb-icon> Hotels</a>
                        <!--<a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="car" class="left"></mdb-icon> Car-Hire</a>-->
                    </div>
                </div>
            </mdb-card>
        </div>

        <div class="col-md-6 mb-4">
            <mdb-card style="background-image: url('https://ttgasia.2017.ttgasia.com/wp-content/uploads/sites/2/2020/04/Singapore-merlion.jpg')">
                <div class="text-white text-center flex-center align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h1 class="py-3 font-weight-bold pink-text">
                        <strong>Singapore</strong>
                        </h1>
                        <p class="pb-3">Singapore is much more than the sum of its numerous attractions. It’s constantly evolving, reinventing, and reimagining itself, with people who are passionate about creating new possibilities.
                        </p>
                        <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="plane" class="left"></mdb-icon> Flights</a>
                        <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="hotel" class="left"></mdb-icon> Hotels</a>
                        <!--<a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="car" class="left"></mdb-icon> Car-Hire</a>-->
                    </div>
                </div>
            </mdb-card>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-4">
            <mdb-card style="background-image: url('https://churific.com/wp-content/uploads/2015/06/sydney-image.jpg')">
                <div class="text-white text-center flex-center align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h1 class="py-3 font-weight-bold pink-text">
                        <strong>Australia</strong>
                        </h1>
                        <p class="pb-3">From beaches, national parks, museums, and tourist spots, here are our best picks for you to tour around the land of kangaroos! Make sure you don’t miss out on the best Australia tourist attractions to have a memorable experience.
                        </p>
                        <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="plane" class="left"></mdb-icon> Flights</a>
                        <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="hotel" class="left"></mdb-icon> Hotels</a>
                       <!--<a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="car" class="left"></mdb-icon> Car-Hire</a>-->
                    </div>
                </div>
            </mdb-card>
        </div>

        <div class="col-md-6 mb-4">
            <mdb-card style="background-image: url('https://iso.500px.com/wp-content/uploads/2015/06/intersection_cover.jpeg')">
                <div class="text-white text-center flex-center align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h1 class="py-3 font-weight-bold pink-text">
                        <strong>New-York</strong>
                        </h1>
                        <p class="pb-3">One of the greatest cities in the world, New York is always a whirlwind of activity, Many of the best places to visit are within walking distance of each other, or just a short ride away, making this city a delight for sightseeing.
                        </p>
                        <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="plane" class="left"></mdb-icon> Flights</a>
                        <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="hotel" class="left"></mdb-icon> Hotels</a>
                        <!--<a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="car" class="left"></mdb-icon> Car-Hire</a>-->
                    </div>
                </div>
            </mdb-card>
        </div>

        <div class="col-md-12 mb-4">
            <mdb-card style="background-image: url('https://assets.simpleviewinc.com/simpleview/image/upload/c_limit,h_1200,q_75,w_1200/v1/clients/vancouverbc/Aerial_Sunset_Vancouver_d3_copy_1bb86ed0-1edc-4cda-841d-0b033ca0bb72.jpg')">
                <div class="text-white text-center flex-center align-items-center rgba-black-strong py-5 px-4 rounded">
                    <div>
                        <h1 class="py-3 font-weight-bold pink-text">
                        <strong>Canada</strong>
                        </h1>
                        <p class="pb-3">Canada incredible geographical variety is a significant tourist attractor, most mountainous province and has some of the most spectacular mountain scenery in the world. 
                        </p>
                        <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="plane" class="left"></mdb-icon> Flights</a>
                        <a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="hotel" class="left"></mdb-icon> Hotels</a>
                        <!--<a mdbBtn color="secondary" size="md" rounded="true" class="waves-light" mdbWavesEffect>
                        <mdb-icon fas icon="car" class="left"></mdb-icon> Car-Hire</a>-->
                    </div>
                </div>
            </mdb-card>
        </div>
    </div>
</div>


<footer class="page-footer font-small unique-color-dark">
    <div class="blue-gradient">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h4>Get connected with us on social networks!</h4>
                </div>
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <a class="fb-ic">
                        <mdb-icon fab icon="facebook" class="white-text mr-4"></mdb-icon>
                    </a>
                    <a class="tw-ic">
                        <mdb-icon fab icon="twitter" class="white-text mr-4"></mdb-icon>
                    </a>
                    <a class="gplus-ic">
                        <mdb-icon fab fab icon="google-plus" class="white-text mr-4"></mdb-icon>
                    </a>
                    <a class="li-ic">
                        <mdb-icon fab icon="linkedin" class="white-text mr-4"></mdb-icon>
                    </a>
                    <a class="ins-ic">
                        <mdb-icon fab icon="instagram" class="white-text mr-4"></mdb-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center text-md-left mt-5">
        <div class="row mt-3">
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Company name</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100%;">
                <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit.
                </p>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Products</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100%;">
                <p>
                    <a href="#!">MDBootstrap</a>
                </p>
                <p>
                    <a href="#!">MDWordPress</a>
                </p>
                <p>
                    <a href="#!">BrandFlow</a>
                </p>
                <p>
                    <a href="#!">Bootstrap Angular</a>
                </p>
            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100%;">
                <p>
                    <a href="#!">Your Account</a>
                </p>
                <p>
                    <a href="#!">Become an Affiliate</a>
                </p>
                <p>
                    <a href="#!">Shipping Rates</a>
                </p>
                <p>
                    <a href="#!">Help</a>
                </p>
            </div>
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 100%;">
                <p>
                    <mdb-icon fas icon="home" class="mr-3"></mdb-icon> New York, NY 10012, US
                </p>
                <p>
                    <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon> info@example.com
                </p>
                <p>
                    <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> + 01 234 567 88
                </p>
                <p>
                    <mdb-icon fas icon="print" class="mr-3"></mdb-icon> + 01 234 567 88
                </p>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> Travel <mdb-icon fas icon="plane-departure"></mdb-icon></a>
    </div>
</footer>
