.img {
  width: 100%;
  margin-bottom: 2%;
  height: 200px;
}

.button1 {
  margin-left: 8px;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #9e36f4;
}

button:hover {
  color: #9e36f4;
}

p {
  text-align: center;
}

.mainImg {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/56/Xiamen_Night_Beach.jpg");
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
}

.map {
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
}

.footer {
  width: 100%;
  height: 480px;
  background-repeat: no-repeat;
  background-color: #5e5858;
  background-size: cover;
  background-size: 100% 100%;
  margin-top: 30px;
  color: #ffffff;
  max-height: 1000px;
}

.adjust {
  margin-top: 20px;
}

.size {
  width: 60%;
}

.board {
  background-color: rgb(242, 231, 248);
  width: 100%;
  max-width: 100%;
}

.decorate {
  font-family: Verdana;
  font-size: 15px;
}

.decorate1 {
  font-family: Verdana;
  font-size: 45px;
  color: rgb(242, 231, 248);
  margin-top: 70px;
}

.decorate2 {
  font-family: Verdana;
  font-size: 20px;
}

.decorate3 {
  font-family: Verdana;
  font-size: 30px;
  color: #f44336;
  margin-top: 70px;
}

.container {
  background-color: rgb(242, 231, 248);
  margin: 8px 16px;
  min-height: 100%;
}
mat-radio-group {
  padding-left: 10px;
}
.marge {
  margin: 8px;
}
.gap {
  margin: 35px;
}
.mobile {
  width: 100%;
  height: 650px;
}
.flex {
  flex: 1 1 auto;
}
.container .mat-form-field {
  margin: 8px;
}
.container .mat-checkbox {
  margin: 8px;
}
.mobileContainer mat-form-field {
  margin: 8px 16px;
}

agm-map {
  height: 400px;
}

.autocomplete-container {
  padding: 1rem 0 1rem 0;
  width: 50%;
}
