.img {
  width: 100%;
  margin-bottom: 5%;
  height: 150px;
}

.card-picture {
  width: 23%;
  margin-bottom: 2%;
}

.container {
  width: 100%;
}

p {
  text-align: center;
}

.mainImg {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/5/56/Xiamen_Night_Beach.jpg');
  width: 100%;
  min-width: 100%;
  height: 680px;
}

.board {
  background-color: rgb(242, 231, 248);
}

.decorate {
  font-family: Verdana;
  font-size: 20px;
}
