<div fxLayout="column" fxLayout.xs="column" fxLayoutGap="25px" fxLayoutAlign="center center">
    <div fxLayoutAlign="center">
        <mat-icon style="font-size: 40px;" color="warn">flight_takeoff</mat-icon>
    </div>

    <div>
        <p class="decorate2">Get the full experience</p>
        <p class="decorate">Track prices, make trip planning easier <br> and enjoy faster booking.</p>
    <div>

    <div class="container" fxLayout="column" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutAlign="center center">
        <div>
            <button mat-stroked-button style="padding: 0.5rem;width: 230px;">
                <mat-icon style="width: 30px; height:30px"
                svgIcon="glogo"></mat-icon> Google
            </button> 
        </div>
        <div>
            <button mat-stroked-button style="padding: 0.5rem;width: 230px;">
                <mat-icon style="width: 30px; height:30px"
                svgIcon="fblogo"></mat-icon> Facebook
            </button> 
        </div>
        <div>
            <button mat-stroked-button style="padding: 0.5rem;width: 230px;">
                <mat-icon style="width: 30px; height:30px"
                svgIcon="elogo"></mat-icon> Email
            </button>
        </div>
    </div>
    <br>      
    <div fxLayoutAlign="center">
        <mat-checkbox color="warn">Remember me</mat-checkbox>
    </div>  
    <div>
        <hr>
        <p class="decorate">By continuing you agree to <br> Travel's <span><a href="#">Terms of Service</a></span> and <span><a href="#">Privacy Policy</a></span>.</p>
    </div>
</div>